/* contenedor carrousel */
#carousel {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}
/* contenido carrrousel */
#slide-container {
  scroll-snap-type: x mandatory;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  gap: 10px;
  color: #000;
  scroll-behavior: smooth;
}
.slide {
  padding: 20px;
  scroll-snap-align: center;
  position: relative;
  min-width: 100%;
  text-align: center;
}
/* contenedor botones */
.slide-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
/* contenedor indicadores */
.slide-indicators {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.slide-indicator {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 5px;
  width: 50px;
}
.slide-indicator:after {
  content: "";
  border: 1px black solid;
  height: 10px;
  width: 50px;
}
.slide-indicator.active:after,
.slide-indicator:hover:after {
  background-color: #ccc;
}
/* flechas */
.arrow {
  border: 1px black solid;
  color: black;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
}
